body {
	margin: 0;
	padding: 0;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
/* whole DIV wrapping content of popup */
.genetix-popup {
}
/* header of popup contents */
.genetix-popup--header {
	color: red;
	margin-top: 0;
	margin-bottom: 0;
}

/* highligthing values like weight or volume */
.genetix-popup--values {
	color: blue;
}

/* highlighting delivery dates */
.genetix-popup--dates {
	color: purple;
}
.home-button {
	position: absolute;
	border: 2px solid rgba(0, 0, 0, .35);
	border-radius: 3px;
	box-shadow: none;
	background: url('./expand-solid.svg');
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	background-position: center;
	background-color: #fff;
	right: 10px;
	top: 70px;
	width: 26px;
	height: 26px;
}
.home-button:hover {
	background-color: rgba(255, 255, 255, 0.795);
}
